<div class = "container">

  <!--<div class="item-index-box">-->

    <!-- ジャンル選択のサイドバー -->
  <!--  <= render "items/genres_sidebar", genres: @genres %>-->
    <!-- ジャンル選択のサイドバー -->
  <!--  <div class="item-index">-->
  <!--  <h3>商品一覧</h3>-->
  <!--      <table>-->
  <!--        <tbody>-->
  <!--          <tr class="item-box">-->
  <!--            < @genre.items.each do |item| %>-->
  <!--              <td class="item">-->
  <!--                  <= link_to @genre.item.name, item_path(item) do %>-->
  <!--                  < end %>-->
  <!--              </td>-->
  <!--            < end %>-->
  <!--          </tr>-->
  <!--        </tbody>-->
  <!--      </table>-->
  <!--  </div>-->
  <!--</div>-->


  <div class="p-5">
    <span>ようこそ、ながのＣＡＫＥへ！</br>
          このサイトは、ケーキ販売のＥＣサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。</span>
  </div>

    <h3>新着商品</h3>

</div>
