<div class = "container">
  <div class="p-5">
    <span>ようこそ、ながのＣＡＫＥへ！</br>
          このサイトは、ケーキ販売のＥＣサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。</span>
  </div>

    <h3>新着商品</h3>

</div>
